body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.navbar{
  border: 0;
  background-color: #ffffff;
  margin-bottom: 0;
}
.navbar .navbar-header a{
  font-size: 24px;
  color: #000000;
}
.navbar ul li a{
  font-size: 18px;
}
hr{
  margin-top: 0;
}

#main{
  max-width: 600px;
  margin: 0 auto;
}
#main h1{
  text-align: center;
}
#main textarea{
  max-width: 570px;
}

.item-block div{
  height:250px;
  position: relative;
}
.item-block div hr{
  display: block;
  width: 100%;
  height:1px;
  position: absolute;
  bottom: 30px;
}
.item-block div p.result{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-block div p a{
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.item-block img{
  height:245px !important;
}
.detail_main a img{
  width: 300px !important;
  height:300px !important;
}
